<h1><%= @actor.name %></h1>

<h3>Filmography</h3>

<ul>
  <% roles = Role.where(actor_id: @actor.id) %>
  <% roles.each do |role| %>
    <% movie = Movie.find_by(id: role.movie_id) %>
    <li><%= link_to movie.title, "/movies/#{movie.id}" %></li>
  <% end %>
</ul>
